{{ form_start(form, { 'action': path('app_category_comment_create' , { 'category_id' : comment.category.id }), 'method': 'POST', 'attr': {'class': 'comment-form'} }) }}

<div class="form-group">
    {{ form_label(form.author) }}
    <small>must contain two words, both with a capital letter</small>
    {{ form_widget(form.author,{'attr':{'class':'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.content) }}
    {{ form_widget(form.content,{'attr':{'class':'form-control'}}) }}
</div>
<p>
    <input class="btn btn-primary" type="submit" value="Submit">
</p>
{{ form_end(form) }}